.*
*.sw[po]
*.o
.obj/
*.bin
*.elf32
*.dsm
*.tar.gz

*.pyc

gitstats/
libcore/
rustc_src/
acpica/*.a
acpica/acpica-*/
externals/crates.io/*/
Screenshots/

Graphics/*.rs
Graphics/*.r8
Graphics/rle32_rust

Kernel/*.exp_rs
Kernel/fdd.img
Kernel/BuildNum.*.mk
Kernel/doc
Kernel/bin
Kernel/gitstats
Kernel/SynExts

Kernel/rundir/fat.img
Kernel/rundir/bochsout.txt
Kernel/rundir/bochsdbg.txt
Kernel/rundir/serial.txt
Kernel/rundir/QemuLog.txt
Kernel/rundir/qemu_trace
Kernel/rundir/qemu_int_log.txt
Kernel/rundir/*.ppm
Kernel/rundir/*.png
Kernel/rundir/*.dmp
Kernel/rundir/DiskImages
Kernel/rundir/trace-*
Kernel/rundir/*.iso
Kernel/rundir/arm_bootloader/Core/
Kernel/rundir/test-*/

Bootloaders/uefi/Core
Bootloaders/uefi/*.txt
Bootloaders/*.pe

Usermode/doc/
