.*
*.sw[po]
*.o
.obj/
*.bin
*.elf32
*.dsm
*.tar.gz

*.pyc
Cargo.lock

/gitstats
/libcore
/stdsimd
/libcore_orig
/rustc_src
/acpica/*.a
/acpica/acpica-*
/externals/crates.io/*
/Screenshots
/rustc-nightly-src

Graphics/*.rs
Graphics/*.r8
Graphics/rle32_rust
Graphics/target

Kernel/*.exp_rs
Kernel/fdd.img
Kernel/BuildNum.*.mk
Kernel/doc
Kernel/bin
Kernel/target
Kernel/targets
Kernel/gitstats
Kernel/SynExts

Kernel/rundir/fat.img
Kernel/rundir/bochsout.txt
Kernel/rundir/bochsdbg.txt
Kernel/rundir/serial.txt
Kernel/rundir/QemuLog.txt
Kernel/rundir/qemu_trace_output
Kernel/rundir/qemu_int_log.txt
Kernel/rundir/*.ppm
Kernel/rundir/*.png
Kernel/rundir/*.dmp
Kernel/rundir/*.pcap
Kernel/rundir/DiskImages
Kernel/rundir/trace-*
Kernel/rundir/*.iso
Kernel/rundir/arm_bootloader/Core/
Kernel/rundir/test-*/

/Kernel/tests/network/target/
/Kernel/tests/network/*.txt
/Kernel/tests/filesystem/target

Bootloaders/uefi/*.txt
Bootloaders/uefi/target
Bootloaders/uefi/Cargo.lock
Bootloaders/libuefi/target/
Bootloaders/*.pe
Bootloaders/aarch64/target
Bootloaders/arm/target
Bootloaders/arm/*.dtb

Usermode/doc/
Usermode/target/
/Usermode/loader/native/target/

/Helpers/make_elf_stub/target/

/NativeKernel/target/
/NativeKernel/log.txt

/Kernel/tests/filesystem/data

# Folders made by RA
/Kernel/Core/target
/Kernel/Modules/*/target
/Usermode/*/target