.*
*.sw[po]
*.o
.obj/
*.bin
*.elf32
*.dsm
*.tar.gz

libcore/
acpica/*.a
acpica/acpica-*/

Graphics/*.rs

Kernel/*.exp_rs
Kernel/fdd.img
Kernel/BuildNum.*.mk
Kernel/doc
Kernel/bin
Kernel/gitstats

Kernel/rundir/bochsout.txt
Kernel/rundir/bochsdbg.txt
Kernel/rundir/serial.txt
Kernel/rundir/QemuLog.txt
Kernel/rundir/qemu_trace
Kernel/rundir/qemu_int_log.txt
