[package]
name = "loader-binary"
version = "0.0.0"
autobins = false

[lib]
crate-type = ["staticlib"]
path = "src/main.rs"

#[bin]
#path = "src/main.rs"

[dependencies]
byteorder = { path = "../../libbyteorder" }
macros = { path = "../../libmacros" }
cmdline_words_parser = { path = "../../../externals/crates.io/cmdline_words_parser", default-features = false, features = ["alloc"] }

# Part of sysroot
std = { path = "../../libstd" }
syscalls = { path = "../../libsyscalls" }
loader = { path = "../lib" }
